---
namespace: anton-sidelnikov
name: csm
description: CSM Collection for Ansible.
version: "{{ tag }}"
readme: README.md
authors:
  - anton-sidelnikov (https://github.com/anton-sidelnikov)
dependencies: { }
license_file: LICENSE
tags:
  - build_infrastructure
  - iscsi_target
  - telegraf
  - too_simple_server
repository: https://github.com/opentelekomcloud-infra/csm-ansible-collection
documentation: https://github.com/opentelekomcloud-infra/csm-ansible-collection
# homepage: ""
issues: https://github.com/opentelekomcloud-infra/csm-ansible-collection/issues
build_ignore:
  - scripts
  - molecule
